<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0"
>
  <div class="item-x" fxFlex="100%">
    <span>COLLABORATORS</span>
  </div>
  
</div>


<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0"
>
  <div class="item item-1" fxFlex="25%">
    <img 
      src="https://uploads-ssl.webflow.com/604680493f8a8d0259f1c76b/604680493f8a8d68d5f1c779_Andre%CC%81%20Amorim.JPG" 
      loading="lazy" 
      alt="" 
      sizes="(max-width: 479px) 100vw, (max-width: 767px) 49vw, (max-width: 991px) 236.90625px, 24vw" 
      class="image-7">
    <p id="titulo">André Amorim</p>
    <p id="conteudo">Expert in Malpighiales systematics and taxomony - Universidade Federal de Santa Cruz Brazil</p>
    
  </div>
  <div class="item item-1" fxFlex="25%">
    <img 
      src="https://uploads-ssl.webflow.com/604680493f8a8d0259f1c76b/604680493f8a8d68d5f1c779_Andre%CC%81%20Amorim.JPG" 
      loading="lazy" 
      alt="" 
      sizes="(max-width: 479px) 100vw, (max-width: 767px) 49vw, (max-width: 991px) 236.90625px, 24vw" 
      class="image-7">
    <p id="titulo">André Amorim</p>
    <p id="conteudo">Expert in Malpighiales systematics and taxomony - Universidade Federal de Santa Cruz Brazil</p>
    
  </div>
  <div class="item item-1" fxFlex="25%">
    <img 
      src="https://uploads-ssl.webflow.com/604680493f8a8d0259f1c76b/604680493f8a8d68d5f1c779_Andre%CC%81%20Amorim.JPG" 
      loading="lazy" 
      alt="" 
      sizes="(max-width: 479px) 100vw, (max-width: 767px) 49vw, (max-width: 991px) 236.90625px, 24vw" 
      class="image-7">
    <p id="titulo">André Amorim</p>
    <p id="conteudo">Expert in Malpighiales systematics and taxomony - Universidade Federal de Santa Cruz Brazil</p>
    
  </div>
  <div class="item item-1" fxFlex="25%">
    <img 
      src="https://uploads-ssl.webflow.com/604680493f8a8d0259f1c76b/604680493f8a8d68d5f1c779_Andre%CC%81%20Amorim.JPG" 
      loading="lazy" 
      alt="" 
      sizes="(max-width: 479px) 100vw, (max-width: 767px) 49vw, (max-width: 991px) 236.90625px, 24vw" 
      class="image-7">
    <p id="titulo">André Amorim</p>
    <p id="conteudo">Expert in Malpighiales systematics and taxomony - Universidade Federal de Santa Cruz Brazil</p>
    
  </div>
</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0"
>
  <div class="item item-1" fxFlex="25%">
    <img 
      src="https://uploads-ssl.webflow.com/604680493f8a8d0259f1c76b/604680493f8a8d68d5f1c779_Andre%CC%81%20Amorim.JPG" 
      loading="lazy" 
      alt="" 
      sizes="(max-width: 479px) 100vw, (max-width: 767px) 49vw, (max-width: 991px) 236.90625px, 24vw" 
      class="image-7">
    <p id="titulo">André Amorim</p>
    <p id="conteudo">Expert in Malpighiales systematics and taxomony - Universidade Federal de Santa Cruz Brazil</p>
    
  </div>
  <div class="item item-1" fxFlex="25%">
    <img 
      src="https://uploads-ssl.webflow.com/604680493f8a8d0259f1c76b/604680493f8a8d68d5f1c779_Andre%CC%81%20Amorim.JPG" 
      loading="lazy" 
      alt="" 
      sizes="(max-width: 479px) 100vw, (max-width: 767px) 49vw, (max-width: 991px) 236.90625px, 24vw" 
      class="image-7">
    <p id="titulo">André Amorim</p>
    <p id="conteudo">Expert in Malpighiales systematics and taxomony - Universidade Federal de Santa Cruz Brazil</p>
    
  </div>
  <div class="item item-1" fxFlex="25%">
    <img 
      src="https://uploads-ssl.webflow.com/604680493f8a8d0259f1c76b/604680493f8a8d68d5f1c779_Andre%CC%81%20Amorim.JPG" 
      loading="lazy" 
      alt="" 
      sizes="(max-width: 479px) 100vw, (max-width: 767px) 49vw, (max-width: 991px) 236.90625px, 24vw" 
      class="image-7">
    <p id="titulo">André Amorim</p>
    <p id="conteudo">Expert in Malpighiales systematics and taxomony - Universidade Federal de Santa Cruz Brazil</p>
    
  </div>
  <div class="item item-1" fxFlex="25%">
    <img 
      src="https://uploads-ssl.webflow.com/604680493f8a8d0259f1c76b/604680493f8a8d68d5f1c779_Andre%CC%81%20Amorim.JPG" 
      loading="lazy" 
      alt="" 
      sizes="(max-width: 479px) 100vw, (max-width: 767px) 49vw, (max-width: 991px) 236.90625px, 24vw" 
      class="image-7">
    <p id="titulo">André Amorim</p>
    <p id="conteudo">Expert in Malpighiales systematics and taxomony - Universidade Federal de Santa Cruz Brazil</p>
    
  </div>
</div>