<mat-toolbar class="container">
  <mat-toolbar-row class="content">
    <span>Caian S. Gerolamo | Botanist</span>
    <img class="image" src="/assets/images/a.jpg" alt="image">

  </mat-toolbar-row>

  <mat-toolbar-row class="content">

    <a class="example-spacer" href="/about">HOME</a>
    <a class="example-spacer" href="/people">PEOPLE</a>
    <a class="example-spacer" href="/reasearch">RESEARCH</a>
    <a class="example-spacer" href="/publications">PUBLICATIONS</a>
    <a class="example-spacer" href="/media">MEDIA</a>
    <a class="example-spacer" href="/media">CONTACT</a>

   
    <span class="example-spacer"></span>

  </mat-toolbar-row>
</mat-toolbar>

