<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px" fxLayoutGap.xs="0">

  <div class="item item-1" fxFlex="100%">
    <p>
      I'm Caian! I am a botanist and currently a PhD Cadidate at University of São Paulo
      <br>
      <br>
      <br>
      Main Research Interests: Climbing Plants, Wood Anatomy, Biomechanics and Hydraulics of Plants, Ecology of Lianas.
      <br>
      <br>
      <br>
      <!-- <img id="ok" class="image-2" src="/assets/images/arte.jpg" alt="image"> -->
      <!-- <br>
      <br> -->
      <!-- <br> -->
      <!-- <br>
      <br>
      <br> -->
      <!-- <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br> -->
 

    </p>

    <div>
      <div class="container"
            fxLayout
            fxLayoutAlign="center"
            fxLayoutGap="50px">
        <div class="item item-1">
          <span>
            <b>Contact</b> <br><br>
          </span>
          <i>caiansgerolamo@gmail.com</i> 
          <br><br>
          <i>caian.gerolamo@usp.br</i> 
          <br><br>
          <br><br>


        </div>
        <div class="item item-2">
          <button mat-raised-button color="primary" (click)="resume()">
            DOWNLOAD <br> RESUME
          </button>
        </div>
        <div class="item item-3">
          <span>
            <b>Follow me</b> <br><br>
            <img class="image" src="/assets/images/linke.png" alt="image">
            <img class="image" src="/assets/images/face.png" alt="image">

          </span>
        </div>
      </div>

      <div class="container"
          fxLayout
          fxLayoutAlign="center"
          fxLayoutGap="50px">
        <div class="item item-4">
          <button mat-raised-button color="primary" (click)="resume()">
            ORCID
          </button>
        </div>
        <div class="item item-5">
          <button mat-raised-button color="primary" (click)="resume()"> 
            Research Gate
          </button>
        </div>
        <div class="item item-5">
          <button mat-raised-button color="primary" (click)="googleScholar()">
            Google Scholar
          </button>
        </div>
        <div class="item item-5">
          <button mat-raised-button color="primary" (click)="lattes()">
            CNPq Lattes
          </button>
        </div>
      </div>
    </div>
     
  </div>
  <div class="item item-2" fxFlex="100%">
    <img class="image-6" src="/assets/images/caian2.jpg">
    <!-- <img src="https://uploads-ssl.webflow.com/604680493f8a8d5d83f1c75a/6046a54af8122a51177ed27c_unnamed.jpg" loading="lazy" sizes="(max-width: 991px) 92vw, 46vw" srcset="https://uploads-ssl.webflow.com/604680493f8a8d5d83f1c75a/6046a54af8122a51177ed27c_unnamed-p-500.jpeg 500w, https://uploads-ssl.webflow.com/604680493f8a8d5d83f1c75a/6046a54af8122a51177ed27c_unnamed-p-800.jpeg 800w, https://uploads-ssl.webflow.com/604680493f8a8d5d83f1c75a/6046a54af8122a51177ed27c_unnamed-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/604680493f8a8d5d83f1c75a/6046a54af8122a51177ed27c_unnamed.jpg 1178w" alt="" class="image-6"> -->
  </div>
</div>