<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="5px"
  fxLayoutGap.xs="0"
>
  <div class="item item-1" fxFlex="100%">
    <p>
      I'm Caian! I am a botanist and currently a PhD Cadidate at University of
      São Paulo
      <br />
      <br />
      Main Research Interests: Climbing Plants, Wood Anatomy, Biomechanics and
      Hydraulics of Plants, Ecology of Lianas.
      <br />
      <br />
      <!-- This is my website, please browse as you wish and contact me if you need to. -->
      <br />
      <br />
      <br />
    </p>

    <div>
      <div class="container" fxLayout fxLayoutAlign="center" fxLayoutGap="50px">
        <div class="item item-1">
          <span> <b>Contact</b> <br /><br /> </span>
          caiansgerolamo@gmail.com
          <br /><br />
          caian.gerolamo@usp.br
          <br /><br />
          <br /><br />
        </div>
        <div class="item item-2">
          <button
            mat-raised-button
            color="primary"
            (click)="
              goToLink('https://figshare.com/articles/preprint/Resume/20294409')
            "
          >
            DOWNLOAD <br />
            RESUME
          </button>
        </div>
        <div class="item item-3">
          <span>
            <b>Follow me</b> <br /><br />
            <img
              class="image"
              src="/assets/images/linke.png"
              alt="image"
              (click)="
                goToLink(
                  'https://www.linkedin.com/in/caian-gerolamo-5a4041144/'
                )
              "
            />
            <img
              class="image"
              src="/assets/images/insta2.png"
              alt="image"
              (click)="
                goToLink(
                  'https://www.instagram.com/anatomyofliana/'
                )
              "
            />
          </span>
        </div>
      </div>

      <div class="container" fxLayout fxLayoutAlign="center" fxLayoutGap="50px">
        <div class="item item-4">
          <button
            mat-raised-button
            color="primary"
            (click)="goToLink('https://orcid.org/0000-0003-1819-5371')"
          >
            ORCID
          </button>
        </div>
        <div class="item item-5">
          <button
            mat-raised-button
            color="primary"
            (click)="
              goToLink('https://www.researchgate.net/profile/Caian-Gerolamo')
            "
          >
            Research Gate
          </button>
        </div>
        <div class="item item-5">
          <button
            mat-raised-button
            color="primary"
            (click)="
              goToLink(
                'https://scholar.google.com.br/citations?user=10xWaMQAAAAJ&hl=pt-BR'
              )
            "
          >
            Google Scholar
          </button>
        </div>
        <div class="item item-5">
          <button
            mat-raised-button
            color="primary"
            (click)="
              goToLink(
                'http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4323228Z4'
              )
            "
          >
            CNPq Lattes
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div id="lok">

  </div> -->
  <div class="item item-2" fxFlex="100%">
    <img
      class="image-6"
      src="/assets/images/d.jpg"
      loading="lazy"
      sizes="(max-width: 991px) 92vw, 46vw"
    />
  </div>
</div>
