.container {
  margin: 10px;
}

.item {
  /* border-radius: .2em; */
  color: black;
  padding: 1em 1em;


}
#lok {
  background-color: red;
  margin-left: 60px;
}

.item img {
  margin-left: 40px;
}

.item #ok {
  margin-top: 60px;
  margin-left: 190px;

}

.item span {
  font-family: Cormorant Garamond;
  margin-left: 40px;
  font-size: 3vh;
}

.item div {
  font-size: 1.5vh;
  background-color: rgb(250, 248, 248);
  margin-top: 30px;
  margin-bottom: 30px;
}

.item button {
  font-size: 2.0vh;
  font-family: Cormorant Garamond;
  background-color: #12330e;
}

.item #info {
  font-size: 3vh;
}

.item p {
  font-family: Cormorant Garamond;
  margin-top: 45px;
  font-size: 2.5vh;
  line-height: 1.5;
  text-align: justify;
}

.item a {
  text-decoration: none;
  color: black;
}

.item-1 {
  background-color: white;

}



.item-2 {
  background-color: white;

}

.item-3 {
  background-color: #9fd3c3;
}

.item-4 {
  background-color: #e7b013;
}

.item-5 {
  background-color: #073443;
}


.image-6 {

  max-width: 790px;
  max-height: 820px;

  height: auto;
  width: auto\9; /* ie8 */
}

.home {
  margin-right: 100px;
  color: red
}

.image {
  /* margin-top: 50px; */
  max-width: 70px;
  max-height: 40px;
  margin-right: 5px;
  cursor: pointer;
}

.image-2 {
  /* margin-top: 50px; */
  /* margin-left: 300px; */
  max-width: 900px;
  max-height: 640px;
}
