<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div class="item item-1" fxFlex="100%">

    <p>
      Artistic production
      <br>
      <br>
      <br>
      Gerolamo, C. S., Figueiredo, C. F. ; Lima, A. C. ; Cunha Neto, I. L. ; Pace, M. R. ; Nogueira, A.N ;
      Acevedo-Rodriguez, P. ; Angyalossy, V. 2021. Cipos: os segredos suspensos da oresta. 2020.
      Instituto de Biociencias da Universidade de Sao Paulo (IB-USP). Summary: The exhibition
      features video and a virtual display of the plants, called Cipos, revealing, in macroscopic and
      microscopic images, the diversity of shapes, colors and unique designs in their internal
      structures (https://biblioteca.metrosp.com.br/index.php/ptbr/359-linha-visuais/696-cipos).
      <br>
      <br>
      <br>
      Gerolamo, C. S. & Figueiredo, C. F., Lima, A. C., Pace, M. R., Angyalossy, V. & Ceccantini, G. C. T.
      2021. IDENTIFICATION of LIANAS by stem anatomy and external bark. Field Guide.
      https://eldguides.eldmuseum.org/guides/guide/1425
      <br>
      <br>
      <br>
      <iframe width="853" height="480" src="https://www.youtube-nocookie.com/embed/watch?v=l2zXTBrn9gQ"  allowfullscreen></iframe>

    </p>

  </div>
  <div class="item item-2" fxFlex="100%">
    <img class="image-6" src="/assets/images/revista.png">
  </div>
</div>