.container {
  margin: 10px;
}

.item-x {
  border-radius: .2em;
  color: black;
  font-family: sans-serif;
  font-size: 2em;
  margin-top: 40px;
  /* padding: 1em 1em; */
}

.item-x p {
  font-size: 0.9em;
  font-family: Cormorant Garamond;
  line-height: 1.5;
  text-align: justify;
  margin-right: 25px;
}

.item-y {
  border-radius: .2em;
  color: black;
  font-family: sans-serif;
  font-size: 2em;
  margin-top: 40px;
  /* padding: 1em 1em; */
}

.item-y span {
  font-size: 5.5vh;
  font-weight: 400;
  margin-left: 20px;
  color: black;
  font-family: Cormorant Garamond;

}

.item {
  border-radius: .2em;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 2em;
  padding: 4em 1em;
  /* text-transform: uppercase; */
}

.item-x span {
  font-size: 5vh;
  font-weight: 400;
  margin-left: 20px;
  color: black;
}

.item #titulo {
  margin-top: 20px;
  color: black;
}

.item #conteudo {
  margin-top: 20px;
  font-size: 0.8em;
  color: black;
  font-family: Cormorant Garamond;
  line-height: 1.5;
  text-align: justify;

}
.item-1 {
  background-color: white;
}

.item-2 {
  background-color: #ffffff;
}

.item-3 {
  background-color: #9fd3c3;
}

.item-4 {
  background-color: #e7b013;
}

.item-5 {
  background-color: #073443;
}



.image {
  max-width: 479px
}
