<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="item-x" fxFlex="100%">
    <span>PUBLICATIONS</span>
  </div>
  <div class="item-x" fxFlex="100%">
    <p>
      Public disclosure: Note that the copyright of the following articles is
      with their respective publishers. If you download any article you agree
      that this is not for commercial use, but exclusively to your own personal
      study and research- You also commit that you will not modify, use, or
      distribute the articles or part of their contents without previously
      requesting permission to the publishers and corresponding authors.
    </p>
  </div>
</div>

<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="item-y" fxFlex="100%">
    <span>2022</span>
  </div>
</div>

<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="item item-1" fxFlex="33.33%">
    <img class="image" src="/assets/images/rocha.png" />
    <p id="conteudo">
      Rocha, E., Nogueira, A., Costa, F. C., Burnham, R. J., Gerolamo, C. S.,
      Honorato, C. F. and Schietti, J. 2022. Liana functional assembly along the
      hydrological gradient in Central Amazonia. Oecology. Accept June 2022.
    </p>
    <button mat-raised-button color="primary">Download PDF</button>
  </div>

  <div class="item item-1" fxFlex="33.33%">
    <img class="image" src="/assets/images/pace.png" />

    <p id="conteudo">
      Pace, M. R., Gerolamo, C. S., Onyenedum, J. G., Terrazas, T., Victorio, M.
      P., Cunha Neto, I. L., and Angyalossy, V. 2022. The wood anatomy of
      Sapindales: diversity and evolution of wood characters. Brazilian Journal
      of Botany, 45(1), 283-340. DOI: 10.1007/s40415-021-00764-2
    </p>
    <button mat-raised-button color="primary">Download PDF</button>
  </div>

  <div class="item item-1" fxFlex="33.33%">
    <img class="image" src="/assets/images/tanget.png" />

    <p id="conteudo">
      Tang, Y., Yin, S., Pace, M. R., Gerolamo, C. S., Nogueira, A., Zuntini, A.
      R., and Liesche, J. 2022. Diameters of phloem sieve elements can predict
      stem growth rates of woody plants . Tree Physiology. DOI:
      10.1093/treephys/tpac022
    </p>
    <button mat-raised-button color="primary">Download PDF</button>
  </div>
</div>

<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="item item-1" fxFlex="33.33%">
    <img class="image" src="/assets/images/gero.png" />

    <p id="conteudo">
      Gerolamo, C. S., Costa F. R. C., Zuntini A., Vicentini, A., Lohmann, L.
      G., Schietti, J., Rocha, E. X., Angyalossy V. and Nogueira, A. 2022.
      Hydro-Edaphic Gradient and Phylogenetic History Explain the Landscape
      Distribution of a Highly Diverse Clade of Lianas in the Brazilian Amazon.
      Volume 5, Number 809904. DOI: 10.3389/ gc.2022.809904
    </p>
    <button mat-raised-button color="primary">Download PDF</button>
  </div>

  <div class="item item-1" fxFlex="33.33%">
    <img class="image" src="/assets/images/antar.png" />

    <p id="conteudo">
      Antar, G. M., Pivello, V. R., Gerolamo, C. S., Nogueira, A., and Sano, P.
      T. 2022. Herb–subshrub diversity in open savanna sites with distinct  re
      regimes in the Jalapao region, Brazil. Journal of Tropical Ecology, 1-9.
      DOI: 10.1017/s0266467422000232
    </p>
    <button mat-raised-button color="primary">Download PDF</button>
  </div>
  <div class="item item-1" fxFlex="33.33%">
    <!-- <img
      src="https://uploads-ssl.webflow.com/604680493f8a8d0259f1c76b/626b0f5265d3d50edf33e07d_Screen%20Shot%202022-04-28%20at%207.02.18%20PM.png"
      loading="lazy"
      alt=""
      sizes="(max-width: 479px) 90vw, (max-width: 767px) 34vw, (max-width: 991px) 29vw, 28vw"
      srcset="
        https://uploads-ssl.webflow.com/604680493f8a8d0259f1c76b/626b0f5265d3d50edf33e07d_Screen%20Shot%202022-04-28%20at%207.02.18%20PM-p-500.png   500w,
        https://uploads-ssl.webflow.com/604680493f8a8d0259f1c76b/626b0f5265d3d50edf33e07d_Screen%20Shot%202022-04-28%20at%207.02.18%20PM-p-800.png   800w,
        https://uploads-ssl.webflow.com/604680493f8a8d0259f1c76b/626b0f5265d3d50edf33e07d_Screen%20Shot%202022-04-28%20at%207.02.18%20PM-p-1080.png 1080w,
        https://uploads-ssl.webflow.com/604680493f8a8d0259f1c76b/626b0f5265d3d50edf33e07d_Screen%20Shot%202022-04-28%20at%207.02.18%20PM-p-1600.png 1600w,
        https://uploads-ssl.webflow.com/604680493f8a8d0259f1c76b/626b0f5265d3d50edf33e07d_Screen%20Shot%202022-04-28%20at%207.02.18%20PM.png        1718w
      "
      class="image-9"
    />
    <p id="conteudo">
      Cunha Neto, I.C., M. R. Pace, R. Hernández-Gutiérrez & V. Angyalossy.
      Linking the evolution of development of stem vascular system in
      Nyctaginaceae and its correlation to habit and species diversification.
      EvoDevo 13(4) https://doi.org/10.1186/s13227-021-00190-1
    </p>
    <button mat-raised-button color="primary">Download PDF</button> -->
  </div>
</div>

<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="item-y" fxFlex="100%">
    <span>2021</span>
  </div>
</div>

<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="item item-1" fxFlex="33.33%">
    <img class="image" src="/assets/images/barbosa.png" />
    <p id="conteudo">
      Barbosa, A. C. F., Gerolamo, C. S., Lima, A. C., Angyalossy, V. and Pace,
      M. R. 2021. Polishing entire stems and roots using sandpaper under water:
      An alternative method for macroscopic analyses. Applications in Plant
      Sciences, 9(5) 1:9. DOI: 10.1002/aps3.11421
    </p>
    <button mat-raised-button color="primary">Download PDF</button>
  </div>

  <div class="item item-1" fxFlex="33.33%">
    <img class="image" src="/assets/images/figa.png" />

    <p id="conteudo">
      Gerolamo, C. S. 2021. Transporte de gua em plantas: da anatomia as fun es
      do xilema . In: Scarlet Santos Monteiro ; Elton John de L rio; Adriana dos
      Santos Lopes; Francisco Palmieri Montessi do Amaral; Marisia Pannia
      Esposito; Cl udia Maria Furlan (Org.). X Botanica no Inverno. Curso de
      Extensao do Departamento de Botanica da Universidade de Sao Paulo. ISBN:
      978-65-88234-04. 10.ed. Sao Paulo: v:1, p 1- 233.
    </p>
    <button mat-raised-button color="primary">Download PDF</button>
  </div>

  <div class="item item-1" fxFlex="33.33%">
    <img class="image" src="/assets/images/gero_a.png" />

    <p id="conteudo">
      Gerolamo, C. S. & Figueiredo, C. F., Lima, A. C., Pace, M. R., Angyalossy,
      V. & Ceccantini, G. C. T. 2021. IDENTIFICATION of LIANAS by stem anatomy
      and external bark. Field Guide.
      https:// eldguides. eldmuseum.org/guides/guide/1425
    </p>
    <button mat-raised-button color="primary">Download PDF</button>
  </div>
</div>

<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="item-y" fxFlex="100%">
    <span>2020</span>
  </div>
</div>

<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="item item-1" fxFlex="33.33%">
    <img class="image" src="/assets/images/gero_2020.png" />
    <p id="conteudo">
      Gerolamo, C. S., Nogueira, A., Pace, M. R., and Angyalossy, V. 2020.
      Interspeci c anatomical di erences result in similar highly  exible stems
      in Bignoniaceae lianas. American Journal of Botany, 107(12): 1622 – 1634.
      DOI: 10.1002/ajb2.1577
    </p>
    <button mat-raised-button color="primary">Download PDF</button>
  </div>

  <div class="item item-1" fxFlex="33.33%">
    <img class="image" src="/assets/images/costa.png" />

    <p id="conteudo">
      Costa F. R. C., Zuanon, J., Baccaro, F. B., de Almeida, J. S., Menger, J.
      D. S., Souza, J. L. P., Gerolamo, C. S ... and Castilho, C. V. 2020.
      E ects of climate change on central Amazonian forests: a two decades
      synthesis of monitoring tropical biodiversity. Oecologia Australis, 24
      (2): 317-335. DOI: 10.4257/oeco.2020.2402.07
    </p>
    <button mat-raised-button color="primary">Download PDF</button>
  </div>

  <div class="item item-1" fxFlex="33.33%">
    <img class="image" src="/assets/images/rocha_2020.png" />

    <p id="conteudo">
      Rocha, E. X., Schietti, J., Gerolamo, C. S., Burnham, R. J., and Nogueira,
      A. 2020. Higher rates of liana regeneration after canopy fall drives
      species abundance patterns in central Amazonia. Journal of Ecology,
      108(4): 1311 - 1321. DOI: 10.1111/1365-2745.13345
    </p>
    <button mat-raised-button color="primary">Download PDF</button>
  </div>
</div>

<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="item-y" fxFlex="100%">
    <span>2018</span>
  </div>
</div>

<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="item item-1" fxFlex="33.33%">
    <img class="image" src="/assets/images/gero_2018.png" />
    <p id="conteudo">
      Gerolamo, C. S., Nogueira, A., Costa, F. R. C., de Castilho, C. V., and
      Angyalossy, V. 2018. Local dynamic variation of lianas along topography
      maintains unchanging abundance at the landscape scale in central Amazonia.
      Journal of Vegetation Science, 29(4): 651-661. DOI: 10.1111/jvs.12644
    </p>
    <button mat-raised-button color="primary">Download PDF</button>
  </div>

  <div class="item item-1" fxFlex="33.33%"></div>

  <div class="item item-1" fxFlex="33.33%"></div>
</div>

<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="item-y" fxFlex="100%">
    <span>2017</span>
  </div>
</div>

<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="item item-1" fxFlex="33.33%">
    <img class="image" src="/assets/images/gero_2017.png" />
    <p id="conteudo">
      Gerolamo, C.S. and Angyalossy, V. 2017. Wood anatomy and conductivity in
      lianas, shrubs and trees of Bignoniaceae. IAWA Journal, 38(3): 412-432.
      DOI: 10.1163/22941932-20170177
    </p>
    <button mat-raised-button color="primary">Download PDF</button>
  </div>

  <div class="item item-1" fxFlex="33.33%"></div>

  <div class="item item-1" fxFlex="33.33%"></div>
</div>
